 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: radial-gradient(circle, #ff00ff, #000000);
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  color: #fff7f7ff;
  margin: 20px;
  text-shadow: 2px 2px 4px hsla(0, 0%, 100%, 1);
}
.header h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.game {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}
.card {
  width: 100px;
  height: 100px;
  margin: 1px;
}
#reset {
  font-size: 20px;
  background-color: orange;
  padding: 10px 20px;
  color: red;
  border: none;
}
.card.flip {
  transform: rotateY(180deg);
  transition: transform 1s;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
.card.matched {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.5s;
}
